:root {
	--primary-color: #0d99ff;
	--body-background-color: #f3f8fc;
	--layout-background-color: #ffffff;

	--layout-profile-lg-max-width: 1280px;
	--layout-auth-lg-max-width: 600px;
	--layout-default-lg-max-width: 1280px;
	--layout-testing-lg-max-width: 600px;
	--layout-lg-min-height: 600px;
	--form-lg-max-width: 400px;
}

img {
	clip-path: inset(0.9px);
	max-width: 100%;
	margin: 0 auto 24px;
	display: flex;
}

body {
	font-family: var(--font-inter);
	color: #1e1e1e;
	font-size: 15px;
}

:is(h1, h2, h3, h4, h5, h6) {
	font-weight: 700;
}

h1 {
	font-size: 32px;
	line-height: 44px;
}

h2 {
	font-size: 20px;
	line-height: 24px;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

span {
	font-size: 14px;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	background-color: var(--body-background-color);
}

a {
	color: inherit;
	text-decoration: none;
	transition: 0.3s ease;
}

a:hover {
	opacity: .5;
}

main,
header {
	padding: 24px;
	margin: 0 auto;
}

header {
	background-color: var(--body-background-color) !important;
}

main {
	border-radius: 8px;
	min-height: var(--layout-lg-min-height);
}
