.empty_respondents_table {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  & h1 {
    margin-bottom: 24px;
  }
}

.create_respondent {
  background: var(--layout-background-color);
  padding: 24px;
  border-radius: 8px;
	& h1 {
		margin-bottom: 40px;
	}
}

.respondent_card {
  &_testing_history,&_header,&_reports,&_loading {
    background: var(--layout-background-color);
    padding: 24px;
    border-radius: 8px;
  }
  &_loading_header {
    margin-bottom: 24px;
  }
  &_testing_history {
    & h2 {
      margin-bottom: 16px;
    }
  }
	&_header {
    margin-bottom: 24px;
    & h1 {
      margin-bottom: 8px;
    }
    &_info {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      gap: 8px;
      max-width: 503px;
      margin-bottom: 24px;
      & h1 {
        margin-bottom: 0;
        margin-right: 8px;
      }
    }
	}
}

