.empty_respondents_table {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  & h1 {
    margin-bottom: 24px;
  }
}

.create_respondent {
  background: var(--layout-background-color);
  box-shadow: var(--layout-box-shadow);
  border: var(--layout-border);
  padding: 24px;
  border-radius: 8px;
	& h1 {
		margin-bottom: 40px;
	}
}

.respondent_card {
  &_testing_history,&_header,&_reports,&_loading {
    background: var(--layout-background-color);
    box-shadow: var(--layout-box-shadow);
    border: var(--layout-border);
    padding: 24px;
    border-radius: 8px;
  }
  &_loading_header {
    margin-bottom: 24px;
  }
  &_testing_history {
    & h2 {
      margin-bottom: 16px;
    }
  }
	&_header {
    margin-bottom: 24px;
    & h1 {
      margin-bottom: 8px;
    }
    &_info {
      & li {
        position: relative;
        &:not(:last-child)::after {
          content: '•';
          color: var(--primary-color);
          width: 4px;
          height: 4px;
          position: absolute;
          right: -2px;
          top: 2px;
        }
      }
    }
	}
}

