.aside_layout {
  max-width: var(--layout-profile-max-width);
  gap: 24px;
  &_content {
    gap: 24px;
    display: flex;
    &_container {
      display: flex;
      flex-direction: column;
      gap: 24px;
      max-width: var(--layout-respondent-profile-container-max-width);
      width: 100%;
    }
  }
  &_aside_content {
    padding: 24px;
    flex-grow: 1;
    box-shadow: var(--layout-box-shadow);
    border: var(--layout-border);
    max-height: fit-content;
    border-radius: 8px;
    background-color: var(--layout-background-color);
    & h2 {
      font-size: 24px;
      margin-bottom: 12px;
    }
  }
}