.navbar {
	display: flex;
	list-style: none;
	align-items: center;
	font-size: 15px;
	&_item {
		&_logo {
			margin-right: 92px;
		}
		&_balance {
			font-size: 14px;
		}
		&_user {
			& button {
				padding: 3px 12px;
				background: rgba(0, 0, 0, 0.05);
			}
		}
	}
}

.profile_layout {
	max-width: var(--layout-profile-max-width);
	& h1 {
		margin-bottom: 8px;
	}
	&_content {
		padding: 24px;
		position: relative;
		background-color: var(--layout-background-color);
		border: var(--layout-border);
		border-radius: var(--layout-border-radius);
		box-shadow: var(--layout-box-shadow);
		min-height: var(--layout-min-height);
	}
}

.profile_header {
	max-width: var(--layout-profile-max-width);
}

.auth_layout {
	border-radius: var(--layout-border-radius);
	background-color: var(--layout-background-color);
	max-width: var(--layout-auth-max-width);
	box-shadow: var(--layout-box-shadow);
	border: var(--layout-border);
}

.auth_header {
	max-width: var(--layout-auth-max-width);
}

.default_layout {
	border-radius: var(--layout-border-radius);
	background-color: var(--layout-background-color);
	max-width: var(--layout-default-max-width);
	box-shadow: var(--layout-box-shadow);
	border: var(--layout-border);
}

.default_header {
	max-width: var(--layout-default-max-width);
}

.testing_layout {
	border-radius: var(--layout-border-radius);
	background-color: var(--layout-background-color);
	max-width: var(--layout-testing-max-width);
	box-shadow: var(--layout-box-shadow);
	border: var(--layout-border);
}

.testing_header {
	max-width: var(--layout-testing-max-width);
}

.error_layout {
	border-radius: var(--layout-border-radius);
	background-color: var(--layout-background-color);
	max-width: var(--layout-error-max-width);
	box-shadow: var(--layout-box-shadow);
	border: var(--layout-border);
}

.error_header{
	max-width: var(--layout-error-max-width);
}